
# Directory
.*
*
! .config/bspwm/*
! .config/polybar/*
! .config/rofi/*
! .config/picom/*
! .config/Thunar/*
! .config/neofetch/*
! .config/thokr/*
! .config/startup
! .config/yakuakerc
! .config/konsolerc
! .config/nvim/*


# Files
.packageList