/*
!.bashrc
!.README.md
!.config/bspwm/*
!.config/eww/*.xml
!.config/eww/*.scss
!.config/eww/scripts/*.sh
!.config/eww/scripts/hour-parse
!.config/eww/scripts/home-dir
!.config/eww/scripts/get*
!.config/eww/scripts/weather-trimmer
!.config/eww/scripts/parser
!.config/fish/
!.config/kitty/
!.config/nvim/
!.config/picom/
!.config/polybar/
!.config/Thunar/
!.config/wall/
!.config/yakuakerc
!.config/Code/User/*
!./bin/
!.config/konsolerc
!./subl-theme/
!./coding/personal/scripting/
# .config/konsole.kmessagebox
