/*
!.bashrc
!.README.md
!.config/bspwm/
!.config/eww/*.xml
!.config/eww/*.scss
!.config/eww/scripts/
!.config/fish/
!.config/kitty/
!.config/nvim/
!.config/picom/
!.config/polybar/
!.config/Thunar/
!.config/wall/
!.config/yakuakerc
!.config/Code/User/
!./bin/
!./konsole/
!./subl-theme/
!./coding/personal/scripting/
