$primary: rgba($color: #D9A362, $alpha: 1.0);
$secondary: rgba($color: #2D313D, $alpha: 1.0);
$background: rgba($color: $secondary, $alpha: 0.5);
$shade1: rgba($color: #445F6C, $alpha: 1.0);
$shade2: rgba($color: #67939A, $alpha: 1.0);
$shade3: rgba($color: #89C7C7, $alpha: 1.0);
$shade4: rgba($color: #BED29A, $alpha: 1.0);
$shade5: rgba($color: #F2DC6D, $alpha: 1.0);
$shade6: rgba($color: #E6C068, $alpha: 1.0);
$shade7: rgba($color: #D9A362, $alpha: 1.0);
$shade8: rgba($color: #A06A5F, $alpha: 1.0);
$colored-button-foreground: rgba($color: $secondary, $alpha: 0.8);