<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Flexboxgrid Sass
  link(rel="stylesheet", href="../dist/flexboxgrid.css")
  link(rel="stylesheet", href="fonts/stylesheet.css")
  link(rel="stylesheet", href="demo.css")
  script(type="text/javascript",src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js")
body
  header.home.u-cf.bg
    .wrapper.container-fluid
      .row.between-xs.top
        .col-xs-2
          a(href='index.html')
            img(src='images/huge-logo.svg')
        .col-xs-7
          ul.menu.list-horz.list-plain
            li
              a(href='https://github.com/hugeinc/flexboxgrid-sass/archive/master.zip') Download
            li
              a(href='https://github.com/hugeinc/flexboxgrid-sass/blob/master/README.md') Getting Started
    .container-fluid.hero
      .row.center-xs.middle-xs
        .col-xs-10
          h1.main-title Flexbox Grid Sass.
          p A grid system that adapt to your project, and not otherwise.
          .action
            a.button.primary(href='https://github.com/hugeinc/flexboxgrid-sass/archive/master.zip') Download Zip
            a.button.primary(href='https://github.com/hugeinc/flexboxgrid-sass', target='_blank') Github Repository
  .wrapper.container-fluid
    main
      a(name='responsive')
      section.page-section
        h2 Responsive
        p Responsive modifiers enable specifying different column sizes, offsets, alignment and distribution at xs, sm, md & lg viewport widths.
        .row
          .col-xs-12.col-sm-3.col-md-2.col-lg-1
            .box-row
          .col-xs-6.col-sm-6.col-md-8.col-lg-10
            .box-row
          .col-xs-6.col-sm-3.col-md-2.col-lg-1
            .box-row
        .row
          .col-xs-12.col-sm-3.col-md-2.col-lg-1
            .box-row
          .col-xs-12.col-sm-9.col-md-10.col-lg-11
            .box-row
        .row
          .col-xs-10.col-sm-6.col-md-8.col-lg-10
            .box-row
          .col-xs-2.col-sm-6.col-md-4.col-lg-2
            .box-row
        pre.prettyprint
          code.lang-html
              :code
                <div class="row">
                  <div class="col-xs-12
                              col-sm-8
                              col-md-6
                              col-lg-4">
                      <div class="box">Responsive</div>
                  </div>
                </div>
      a(name='fluid')
      section.page-section
        br
        h2 Fluid
        p Percent based widths allow fluid resizing of columns and rows.
        .row
          .col-xs-12
            .box-row
        .row
          .col-xs-1
            .box-row
          .col-xs-11
            .box-row
        .row
          .col-xs-2
            .box-row
          .col-xs-10
            .box-row
        .row
          .col-xs-3
            .box-row
          .col-xs-9
            .box-row
        .row
          .col-xs-4
            .box-row
          .col-xs-8
            .box-row
        .row
          .col-xs-5
            .box-row
          .col-xs-7
            .box-row
        .row
          .col-xs-6
            .box-row
          .col-xs-6
            .box-row
      a(name='syntax')
      section.page-section
        h2 Simple Syntax
        p All you need to remember is row, column, content.
        pre.prettyprint
          code.lang-html
              :code
                <div class="row">
                  <div class="col-xs-12">
                    <div class="box">12</div>
                  </div>
                </div>
      a(name='offsets')
      section.page-section
        h2 Offsets
        p Offset a column
        .row
          .col-xs-offset-11.col-xs-1
            .box-row
        .row
          .col-xs-offset-10.col-xs-2
            .box-row
        .row
          .col-xs-offset-9.col-xs-3
            .box-row
        .row
          .col-xs-offset-8.col-xs-4
            .box-row
        .row
          .col-xs-offset-7.col-xs-5
            .box-row
        .row
          .col-xs-offset-6.col-xs-6
            .box-row
        .row
          .col-xs-offset-5.col-xs-7
            .box-row
        .row
          .col-xs-offset-4.col-xs-8
            .box-row
        .row
          .col-xs-offset-3.col-xs-9
            .box-row
        .row
          .col-xs-offset-2.col-xs-10
            .box-row
        .row
          .col-xs-offset-1.col-xs-11
            .box-row
        pre.prettyprint
          code.lang-html
              :code
                <div class="row">
                  <div class="col-xs-offset-3 col-xs-9">
                    <div class="box">offset</div>
                  </div>
                </div>
      a(name='auto')
      section.page-section
        h2 Auto Width
        p Add any number of auto sizing columns to a row. Let the grid figure it out.
        .row
          .col-xs
            .box-row
          .col-xs
            .box-row
        .row
          .col-xs
            .box-row
          .col-xs
            .box-row
          .col-xs
            .box-row
        pre.prettyprint
          code.lang-html
              :code
                <div class="row">
                  <div class="col-xs">
                    <div class="box">auto</div>
                  </div>
                </div>
      a(name='nested')
      section.page-section
        h2 Nested Grids
        p Nest grids inside grids inside grids.
        .row
          .col-xs-7
            .box.box-container
              .row
                .col-xs-9
                  .box-first.box-container
                    .row
                      .col-xs-4
                        .box-nested
                      .col-xs-8
                        .box-nested
                .col-xs-3
                  .box-first.box-container
                    .row
                      .col-xs
                        .box-nested
          .col-xs-5
            .box.box-container
              .row
                .col-xs-12
                  .box-first.box-container
                    .row
                      .col-xs-6
                        .box-nested
                      .col-xs-6
                        .box-nested
        pre.prettyprint
          code.lang-html
              :code
                <div class="row">
                  <div class="col-xs">
                    <div class="box">auto</div>
                      <div class="row">
                        <div class="col-xs">
                          <div class="box">auto</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      a(name='alignment')
      section.page-section
        h2 Alignment
        p Add classes to align elements to the start or end of a row as well as the top, bottom, or center of a column
        h3 .start-
        .row
          .col-xs-12
            .box.box-container
              .row.start-xs
                .col-xs-6
                  .box-nested
        pre.prettyprint
          code.lang-html
              :code
                <div class="row start-xs">
                  <div class="col-xs-6">
                    <div class="box">
                      start
                    </div>
                  </div>
                </div>
        h3 .center-
        .row
          .col-xs-12
            .box.box-container
              .row.center-xs
                .col-xs-6
                  .box-nested
        pre.prettyprint
          code.lang-html
              :code
                <div class="row center-xs">
                  <div class="col-xs-6">
                    <div class="box">
                      center
                    </div>
                  </div>
                </div>
        h3 .end-
        .row
          .col-xs-12
            .box.box-container
              .row.end-xs
                .col-xs-6
                  .box-nested
        pre.prettyprint
          code.lang-html
              :code
                <div class="row end-xs">
                  <div class="col-xs-6">
                    <div class="box">
                      end
                    </div>
                  </div>
                </div>
        p Here is an example of using the modifiers in conjunction to acheive different alignment at different viewport sizes.
        .row
          .col-xs-12
            .box.box-container
              .row.center-xs.end-sm.start-lg
                .col-xs-6
                  .box-nested
        h4 Example
        pre.prettyprint
          code.lang-html
              :code
                <div class="row center-xs end-sm start-lg">
                  <div class="col-xs-6">
                    <div class="box">
                      All together now
                    </div>
                  </div>
                </div>
        h3 .top-
        .row.top-xs
          .col-xs-6
            .box-large
          .col-xs-6
            .box
        pre.prettyprint
          code.lang-html
              :code
                <div class="row top-xs">
                  <div class="col-xs-6">
                    <div class="box">
                      top
                    </div>
                  </div>
                </div>
        h3 .middle-
        .row.middle-xs
          .col-xs-6
            .box-large
          .col-xs-6
            .box
        pre.prettyprint
          code.lang-html
              :code
                <div class="row middle-xs">
                  <div class="col-xs-6">
                    <div class="box">
                      middle
                    </div>
                  </div>
                </div>
        h3 .bottom-
        .row.bottom-xs
          .col-xs-6
            .box-large
          .col-xs-6
            .box
        pre.prettyprint
          code.lang-html
              :code
                <div class="row bottom-xs">
                  <div class="col-xs-6">
                    <div class="box">
                      bottom
                    </div>
                  </div>
                </div>
      a(name='distribution')
      section.page-section
        h2 Distribution
        p Add classes to distribute the contents of a row or column.
        h3 .around-
        .row
          .col-xs-12
            .box.box-container
              .row.around-xs
                .col-xs-2
                  .box-nested
                .col-xs-2
                  .box-nested
                .col-xs-2
                  .box-nested
        pre.prettyprint
          code.lang-html
              :code
                <div class="row around-xs">
                  <div class="col-xs-2">
                    <div class="box">
                        around
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="box">
                      around
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="box">
                      around
                    </div>
                  </div>
                </div>
        h3 .between-
        .row
          .col-xs-12
            .box.box-container
              .row.between-xs
                .col-xs-2
                  .box-nested
                .col-xs-2
                  .box-nested
                .col-xs-2
                  .box-nested
        pre.prettyprint
          code.lang-html
              :code
                <div class="row between-xs">
                  <div class="col-xs-2">
                    <div class="box">
                      between
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="box">
                      between
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="box">
                      between
                    </div>
                  </div>
                </div>
      a(name='reordering')
      section.page-section
        h2 Reordering
        p Add classes to reorder columns.
        h3 .first-
        .row
          .col-xs-12
            .box.box-container
              .row
                .col-xs-2
                  .box-first 1
                .col-xs-2
                  .box-first 2
                .col-xs-2
                  .box-first 3
                .col-xs-2
                  .box-first 4
                .col-xs-2
                  .box-first 5
                .col-xs-2.first-xs
                  .box-nested 6
        pre.prettyprint
          code.lang-html
              :code
                <div class="row">
                  <div class="col-xs-2">
                    <div class="box">
                      1
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="box">
                      2
                    </div>
                  </div>
                  <div class="col-xs-2 first-xs">
                    <div class="box">
                      3
                    </div>
                  </div>
                </div>
        h3 .last-
        .row
          .col-xs-12
            .box.box-container
              .row
                .col-xs-2.last-xs
                  .box-nested 1
                .col-xs-2
                  .box-first 2
                .col-xs-2
                  .box-first 3
                .col-xs-2
                  .box-first 4
                .col-xs-2
                  .box-first 5
                .col-xs-2
                  .box-first 6
        pre.prettyprint
          code.lang-html
              :code
                <div class="row">
                  <div class="col-xs-2 last-xs">
                    <div class="box">
                      1
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="box">
                      2
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="box">
                      3
                    </div>
                  </div>
                </div>
      a(name='reversing')
      section.page-section
        h2 Reversing
        h3 .reverse
        .row
          .col-xs-12
            .box.box-container
              .row.reverse
                .col-xs-2
                  .box-nested 1
                .col-xs-2
                  .box-nested 2
                .col-xs-2
                  .box-nested 3
                .col-xs-2
                  .box-nested 4
                .col-xs-2
                  .box-nested 5
                .col-xs-2
                  .box-nested 6
        pre.prettyprint
          code.lang-html
              :code
                <div class="row reverse">
                  <div class="col-xs-2">
                    <div class="box">
                      1
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="box">
                      2
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="box">
                      3
                    </div>
                  </div>
                </div>
  .container-fluid
    .row.center-xs
      .col-xs
        p Inspired by <a href="flexboxgrid.com" target="_blank">Flexbox Grid</a>. Developed by <a href="http://www.thiago.in/" target="_blank">Thiago Duarte</a> @ Huge Inc.
  footer
    a.h(href='http://hugeinc.com', target='_blank')
    p
      | Make something you love.
      sup TM
